@import './Constants.scss';

.bg-container {
  height: 640px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -5;
  opacity: 0.8;
  .bg {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.Pink {
  top: 70%;
  @include breakpoint(laptop) {
    top: 63%;
  }
  @include breakpoint(tablet) {
    top: 54%;
  }
  @include breakpoint(phablet) {
    top: 45%;
  }
}

.Geometric {
  top: 4225px;
  @include breakpoint(desktop) {
    top: 3975px;
  }
}

.Daisys {
  top: 5506px;
  height: 299px;
  @include breakpoint(desktop) {
    top: 5175px;
    height: 229px;
  }
  .bg {
    border-radius: 50% 50% 0 0 / 50%;
  }
}