@import './constants.scss';

.bg-container {
  height: 640px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -5;
  opacity: 0.8;
  .bg {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.Pink {
  top: 12%;
  @include breakpoint(laptop) {
    top: 6.6%;
  }
  @include breakpoint(tablet) {
    top: 6%;
  }
  @include breakpoint(phablet) {
    top: 5%;
  }
  @include breakpoint(mobile) {
    top: 7%;
  }
}

.Geometric {
  top: 69%;
  @include breakpoint(laptop) {
    top: 79%;
  }
  @include breakpoint(tablet) {
    top: 77%;
  }
}

.Daisys {
  bottom: 0;
  height: 185px;
  @include breakpoint(mobile) {
    height: 155px;
  }
  .bg {
    border-radius: 50% 50% 0 0 / 50%;
  }
}