.bg-container {
  height: 640px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -5;
  opacity: 0.8;
  .bg {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}