@import './Constants.scss';

.Button {
  color: #000000;
  display: block;
  font-size: 25px;
  margin-top: 10px;
  @include breakpoint(phablet) {
    font-size: 20px;
  }
  &:first-of-type {
    margin-top: 20px;
  }
  &:hover {
    color: $gold;
  }
  svg {
    vertical-align: middle;
    margin-left: 5px;
  }
}