@import './constants.scss';

.Button {
  color: $gold-light;
  font-size: 22px;
  margin-top: 10px;
  @include breakpoint(phablet) {
    font-size: 20px;
  }
  &:first-of-type {
    margin-top: 20px;
  }
  &:hover {
    color: $gold;
  }
  svg {
    vertical-align: middle;
    margin-left: 5px;
  }
}