// @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');
// $title-font: 'Comfortaa', cursive;

@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

// Fonts
$title-font: 'Marcellus', serif;
$font-default: 'Montserrat', sans-serif;

// Colors
$base-gray: #9897A0;
$pink-strong: #f5778d;
$gold: #FFD700;

// Breakpoints
$lg-screen: 1200px;
$md-screen: 900px;
$sm-screen: 700px;
$xm-screen: 450px;
$xxm-screen: 350px;