@import './constants.scss';
@import './animations.scss';

.Daisy {
  position: absolute;
  top: 9%;
  right: 15%;
  opacity: 0;
  @include slide-animation(slideA, 3.2s);
  img {
    height: 350px;
  }
  @include breakpoint(desktop) {
    top: 9%;
    right: 17%;
    img {
      height: 325px;
    }
  }
  @include breakpoint(laptop) {
    top: 5.5%;
    right: 7%;
    img {
      height: 300px;
    }
  }
  @include breakpoint(tablet) {
    top: 6%;
    right: 3%;
    img {
      height: 250px;
    }
  }
  @include breakpoint(phablet) {
    top: 6.5%;
    right: 5%;
    img {
      height: 200px;
    }
  }
  @include breakpoint(mobile) {
    top: 7.7%;
  }
}

.Sparckles {
  position: absolute;
  top: 3.5%;
  right: 27%;
  opacity: 0;
  @include slide-animation(slideC, 3.4s);
  @include breakpoint(desktop) {
    right: 30%;
  }
  @include breakpoint(laptop) {
    display: none;
  }
  img {
    transform: scaleX(-1);
    height: 120px;
  }
}

.SmallDaisy {
  position: absolute;
  top: 4.5%;
  right: 10%;
  opacity: 0;
  @include slide-animation(slideB, 3s);
  @include breakpoint(desktop) {
    right: 11%;
  }
  @include breakpoint(laptop) {
    display: none;
  }
  img {
    height: 230px;
    transform: scaleX(-1);
  }
}

.SparcklesLeft {
  position: absolute;
  top: 10%;
  right: 42%;
  opacity: 0;
  @include slide-animation(slideE, 3.6s);
  @include breakpoint(desktop) {
    right: 48%;
  }
  @include breakpoint(laptop) {
    display: none;
  }
  img {
    height: 120px;
  }
}

.SparcklesRight {
  position: absolute;
  top: 8.5%;
  right: 5%;
  opacity: 0;
  @include slide-animation(slideD, 3.8s);
  @include breakpoint(desktop) {
    right: 6%;
  }
  @include breakpoint(laptop) {
    display: none;
  }
  img {
    height: 120px;
  }
}