@import './Constants.scss';

.Daisy {
  position: absolute;
  top: 47%;
  right: 23%;
  @include breakpoint(desktop) {
    right: 17%;
    img {
      height: 400px;
    }
  }
  @include breakpoint(laptop) {
    top: 48%;
    right: 8%;
    img {
      height: 300px;
    }
  }
  @include breakpoint(tablet) {
    top: 43%;
    right: 4%;
    img {
      height: 250px;
    }
  }
  @include breakpoint(phablet) {
    top: 40%;
    img {
      height: 200px;
    }
  }
  @include breakpoint(mobile) {
    display: none;
  }
}

.Sparckles {
  position: absolute;
  top: 21%;
  right: 36%;
  @include breakpoint(desktop) {
    right: 30%;
  }
  @include breakpoint(laptop) {
    display: none;
  }
  img {
    transform: scaleX(-1);
    height: 130px;
  }
}

.SmallDaisy {
  position: absolute;
  top: 26%;
  right: 18%;
  @include breakpoint(desktop) {
    right: 11%;
  }
  @include breakpoint(laptop) {
    display: none;
  }
  img {
    height: 230px;
    transform: scaleX(-1);
  }
}

.SparcklesLeft {
  position: absolute;
  top: 53%;
  right: 53%;
  @include breakpoint(desktop) {
    top: 56%;
    right: 51%;
  }
  @include breakpoint(laptop) {
    display: none;
  }
  img {
    height: 120px;
  }
}

.SparcklesRight {
  position: absolute;
  top: 47%;
  right: 13%;
  @include breakpoint(desktop) {
    right: 6%;
  }
  @include breakpoint(laptop) {
    top: 48%;
    display: none;
  }
  img {
    height: 120px;
  }
}