.Navbar {
  background-color: #f9f7f8;
  height: 80px;
  width: 100%;
  padding: 13px 20px;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 3px black;
  transition: top 0.3s;
  .navbar-links {
    a {
      text-decoration: none;
      color: #7f7f7f;
      font-weight: bold;
      font-family: sans-serif;
      margin-right: 10px;
    }
  }
}

.logo img {
  height: 60px;
  margin: 0 10px;
}
