.Navbar {
  background-color: #f9f7f8;
  height: 80px;
  padding: 13px 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .navbar-links {
    a {
      text-decoration: none;
      color: #7f7f7f;
      font-weight: bold;
      font-family: sans-serif;
      margin-right: 10px;
    }
  }
}

.gradient-border {
  border-bottom: solid 3px;
  border-image: linear-gradient( to right, #dab157, #e9d4a5, #e9d4a591, #dab157, #e9d4a5) 1;;
}

.logo img {
  height: 60px;
  margin: 0 10px;
}
