@import './Constants.scss'; 
@import './commom.module.scss';

.Presentation {
  display: flex;
  .text {
    margin: 260px 0 500px 20%;
    width: 35%;
    @include breakpoint(desktop) {
      margin: 260px 0 480px 15%;
      width: 47%;
    }
    @include breakpoint(laptop) {
      margin: 260px 0 460px 10%;
      width: 100%;
    }
    @include breakpoint(tablet) {
      margin: 230px 7% 400px 8%;
    }
    @include breakpoint(phablet) {
      margin: 200px 7% 315px 8%;
    }
    h5 {
      font-family: $font-default;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      a {
        text-decoration: none;
        font-weight: bold;
        color: black;
        &:hover {
          color: $gold;
          text-decoration: underline;
        }
      }
      @include breakpoint(tablet) {
        font-size: 15px;
      }
      @include breakpoint(phablet) {
        font-size: 14px;
        line-height: 25px;
      }
    }
  }
  .elements-container {
    width: 40%;
    @include breakpoint(laptop) {
      width: 0%;
    }
  }
}

