@import './Constants.scss'; 

.title {
  font-family: $title-font;
  font-weight: 500;
  font-size: 2.5em;
  margin-bottom: 16px;
}

.Presentation {
  margin: 180px auto 95px auto;
  width: 50%;
  h5 {
    font-size: 18px;
    font-weight: 500;
    color: #212b49;
    line-height: 30px;
  }
  @media screen and (max-width: $lg-screen) {
      width: 65%;
  }
  @media screen and (max-width: $md-screen) {
      width: 75%;
  }
  @media screen and (max-width: $sm-screen) {
      width: 85%;
  }
}