@import './Constants.scss'; 
@import './commom.module.scss';

.Presentation {
  margin: 0 auto;
  width: 50%;
  position: relative;
  top: 250px;
  h5 {
    font-family: $font-default;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    a {
      text-decoration: none;
      font-weight: bold;
      color: black;
      &:hover {
        color: $gold;
        text-decoration: underline;
      }
    }
  }
  @media screen and (max-width: $lg-screen) {
      width: 65%;
  }
  @media screen and (max-width: $md-screen) {
      width: 75%;
  }
  @media screen and (max-width: $sm-screen) {
      width: 85%;
  }
}

