@import './commom.module.scss';

@mixin center-image($color) {
  background-color: $color;
  display: flex;
  align-items: center;
}

.ProjectsContainer {
  position: relative;
  @include breakpoint(mobile) {
    margin-top: 60px;
  }
  h1 {
    text-align: center;
  }
  hr { 
    display: block;
    width: 150px;
    background-color: black;
    margin: 24px auto 48px auto;
  } 
  .projects-wrapper {
    width: 75%;
    margin: 90px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 70px;
    @include breakpoint(desktop) {
      width: 80%;
      row-gap: 50px;
    }
    @include breakpoint(laptop) {
      width: 85%;
    }
    @include breakpoint(phablet) {
      width: 90%;
      margin: 70px auto;
    }
    @include breakpoint(mobile) {
      margin: 40px auto;
    }
    .card {
      width: 48%;
      padding: 25px;
      @include card-background;
      &:hover {
        transform: scale(1.03, 1.03);
      }
      @include breakpoint(laptop) {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
        align-items: center;
      }
      .card-image {
        margin-top: 30px;
        max-height: 50%;
        img {
          width: 100%;
          margin: 10px;
          @include breakpoint(laptop) {
            width: 90%;
            margin: 10px 45px;
          }
          @include breakpoint(phablet) {
            width: 100%;
            margin: 10px 0;
          }
        }
      }
      .card-description {
        margin-bottom: 15px;
        @include breakpoint(laptop) {
          min-height: auto;
        }
        h3 {
          font-weight: bold;
          font-size: 30px;
          @include breakpoint(phablet) {
            font-size: 25px;
          }
        }
        p {
          width: 85%;
          margin: 25px 0;
          line-height: 25px;
          @include breakpoint(phablet) {
            width: 95%;
          }
          @include breakpoint(mobile) {
            font-size: 15px;
            margin: 15px 0;
            line-height: 22px;
          }
        }
        .tech-container {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
    .weatherAppImg {
      display: flex;
      width: 100%;
      height: 50%;
      align-items: center;
      .card-description,
      .card-image {
        width: 50%;
        margin: 10px;
        @include breakpoint(laptop) {
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}  
