@import './Constants.scss';
@import './commom.module.scss';

@mixin center-image($color) {
  background-color: $color;
  display: flex;
  align-items: center;
}

.ProjectsContainer {
  position: relative;
  top: 760px;
  h1 {
    text-align: center;
  }
  hr { 
    display: block;
    width: 150px;
    background-color: black;
    margin: 24px auto 48px auto;
  } 
  .projects-wrapper {
    width: 75%;
    margin: 120px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 100px;
    .card {
      width: 47%;
      padding: 25px;
      border-radius: 3px;
      background-color: #f9f7f8c9;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(168,165,168,1);
      -moz-box-shadow: 0px 0px 10px 0px rgba(168,165,168,1);
      box-shadow: 0px 0px 10px 0px rgba(168,165,168,1);
      .card-image {
        // width: 50%;
        img {
          width: 100%;
        }
      }
      .card-description {
        // width: 50%;
        h3 {
          font-weight: bold;
          font-size: 30px;
        }
        p {
          width: 85%;
          margin: 25px 0;
          line-height: 25px;
        }
        .tech-container {
          height: 100px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
        }
        .btn-container {
              a {
                  text-decoration: none;
                  color: #6c757d;
                  &:hover {
                      color: white;
                  }
              img {
                  color: #6c757d
              }
            }
        }
      }
    }
  }
}  

.facebookImg {
  @include center-image(#7bc456);
}

.membersOnlyImg {
  @include center-image(#e0a890);
}

.privateEventsImg {
  @include center-image(#129490);
}

.calculatorImg {
  @include center-image(#ce1483);
}

.nextWebImg {
  @include center-image(#065143);
}