@import './Constants.scss';

@mixin center-image($color) {
  background-color: $color;
  display: flex;
  align-items: center;
}

.ProjectsContainer {
  position: relative;
  top: 800px;
  h1 {
    text-align: center;
    font-weight: 500;
    font-family: $title-font;
    font-size: 28px;
  }
}

hr { 
  display: block;
  width: 150px;
  background-color: black;
  margin: 24px auto 48px auto;
} 

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  height: 420px;
  width: 1030px;
  margin: 48px auto;
  display: flex;
  .card-image {
    width: 50%;
    img {
      width: 100%;
    }
  }
  .card-description {
    width: 50%;
    .tech-badge {
      border: solid 2px $base-gray;
    }
    .btn-container {
        a {
            text-decoration: none;
            color: #6c757d;
            &:hover {
                color: white;
            }
        img {
            color: #6c757d
        }
        }
    }
  }
  
  
}

.facebookImg {
  @include center-image(#7bc456);
}

.membersOnlyImg {
  @include center-image(#e0a890);
}

.privateEventsImg {
  @include center-image(#129490);
}

.calculatorImg {
  @include center-image(#ce1483);
}

.nextWebImg {
  @include center-image(#065143);
}