@import './Constants.scss';
@import './commom.module.scss';

.SkillsContainer {
  position: relative;
  top: 850px;
  text-align: center;
  .skills-wrapper {
    height: 480px;
    width: 45%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    .Skill {
      background-color: #F7D08E;
      border-radius: 5px;
      padding: 15px 0;
      margin: 5px;
      width: 45%;
      svg {
        margin-right: 15px;
        font-size: 20px;
        vertical-align: text-bottom;
      }
    }
  }
}